@charset "utf-8";

@font-face{
font-family:NotoSansKR;
src:url(./webfont/NotoSansKR-Regular.eot?iefix);
src:url(./webfont/NotoSansKR-Regular.woff2) format('woff2'),
url(./webfont/NotoSansKR-Regular.woff) format('woff');
font-style:normal;
font-weight:normal;
}
@font-face{
font-family:NotoSansKR;
src:url(./webfont/NotoSansKR-Bold.eot?iefix);
src:url(./webfont/NotoSansKR-Bold.woff2) format('woff2'),
url(./webfont/NotoSansKR-Bold.woff) format('woff');
font-style:normal;
font-weight:bold;
}

@font-face{
font-family:Roboto;
src:url(./webfont/Roboto-Bold.eot?iefix);
src:url(./webfont/Roboto-Bold.woff2) format('woff2'),
url(./webfont/Roboto-Bold.woff) format('woff');
font-style:normal;
font-weight:bold;
unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face{
font-family:Roboto;
src:url(./webfont/Roboto-Regular.eot?iefix);
src:url(./webfont/Roboto-Regular.woff2) format('woff2'),
url(./webfont/Roboto-Regular.woff) format('woff');
font-style:normal;
font-weight:normal;
unicode-range:U+0041-005A, U+0061-007A, U+0030-0039;
}

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textar ea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff}
body,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:Roboto,NotoSansKR,'돋움',dotum,sans-serif;letter-spacing:-0.5px;color:#333}
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:none}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
caption{overflow:hidden;width:1px;height:0.1px;font-size:0;line-height:0;text-indent:-9999px}


/* common */
#skip_navi{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.show{display:block}
.hide{display:none}
.disabled{background-color:#e9e9e9;opacity:.7;filter:alpha(opacity=70);cursor:default}
.txt_ar{text-align:right}
.txt_al{text-align:left}
.thumb_img{vertical-align:top}
.hidden{overflow:hidden}
.nocursor{cursor:default} /* 임시 커서포인트 */
.f_l{float:left}

/* Layout */
html, body{width:100%;height:100%}
#everyrWrap,wrap_intro{position:relative;min-width:1200px;width:100%;height:100%}
#header{position:fixed;z-index:100;width:100%;height:102px;background:#fff}
#header.fixed{border-bottom:1px solid #f0f0f0}
.area_introduce{position:relative}

/* 공통 - image */
.img_everyr{display:block;overflow:hidden;font-size:0;line-height:0;background:url(../images/img_everyr.png?20200131) 0 0 no-repeat;text-indent:-9999px}

/* INTRO */
#everyrWrap.wrap_main{min-width:auto}
.cont_main,.cont_main #mArticle,.area_introduce{width:100%;height:100%}
.wrap_intro{overflow:hidden;z-index:10000;position:absolute;top:0;width:100%;height:100%;background:#fff}
.wrap_intro .intro_bar{position:absolute;top:0;left:53%;z-index:20;width:189px;height:100%;margin-left:-98px;background:#ffd200;transform:skew(-26deg, 0deg)}
.wrap_intro .intro_bg1{position:absolute;top:0;left:0;width:53%;height:100%;background:#fff;transform:skew(-26deg, 0deg)}
.wrap_intro .intro_bg1:after{position:absolute;top:0;left:-239px;width:240px;height:100%;background:#fff;content:''}
.wrap_intro .intro_bg1 .border{position:absolute;top:0;right:0;width:95px;height:100%;background:#ffd200}
.wrap_intro .intro_bg2{position:absolute;top:0;left:50%;width:47%;height:100%;background:#fff;transform:skew(-26deg, 0deg)}
.wrap_intro .intro_bg2:after{position:absolute;top:0;right:-289px;width:290px;height:100%;background:#fff;content:''}
.wrap_intro .intro_bg2 .border{position:absolute;top:0;left:-3px;width:95px;height:100%;background:#ffd200}
.wrap_intro .logo_everyr{position:absolute;top:42px;left:40px;z-index:20;width:121px;height:17px;background-position:0 0}
.wrap_intro .txt_intro{position:absolute;top:50%;left:50%;z-index:20;width:800px;height:142px;margin:-67px 0 0 -310px;color:#333;font-weight:bold;font-size:58px;line-height:81px;letter-spacing:50px}
.wrap_intro .txt_intro .txt_bar{display:inline-block;width:7px;height:54px;margin-top:18px;font-size:0;line-height:0;background:#ffd200;text-indent:-9999px;vertical-align:top;transform:skew(-22deg, 0deg);opacity:1;animation:blink 0.7s infinite;-webkit-animation:blink 0.7s infinite}
.wrap_intro .txt_intro span{text-align:center}
@keyframes blink {
 50% {opacity:0.0 }
}
@-webkit-keyframes blink {
	0% { opacity: 1}
	50% { opacity: 0.0}
	100% { opacity: 1}
}
.wrap_intro .txt_copyright{position:absolute;width:100%;bottom:75px;z-index:20;color:#999;font-size:11px;text-align:center}
.wrap_intro .intro_progress{position:absolute;z-index:20;width:100%;height:4px;bottom:0;left:0}
.wrap_intro .intro_progress .bg_progress{position:absolute;top:0;right:0;width:100%;height:4px;background:#ffd200;content:''}
.wrap_intro .intro_progress .progress_first{float:left;width:100%;height:4px;background:#3645cd}
/*.wrap_intro .intro_progress .progress_last{float:left;width:12%;height:4px;background:#ffd200}*/

/* Header */
.tit_logo{display:block;padding:42px 0 0 40px}
.wrap_main #header{background:none}
.wrap_main .tit_logo .logo_everyr{width:121px;height:17px;background-position:0 -21px}

/* Gnb */
.nav_main{position:fixed;top:0;right:0;bottom:0;z-index:1000;letter-spacing:0}
.nav_main .cont_nav:after{content:none}
.btn_menu{display:inline-block;width:90px;height:104px;cursor:pointer;outline:none}
.btn_menu .ico_menu{display:block;z-index:10;position:relative;width:29px;height:22px;margin:0 auto;cursor:pointer;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.btn_menu:active .ico_menu{-webkit-transform: translateZ(0) scale(.95);transform: translateZ(0) scale(.95)}
.btn_menu .ico_menu .ico_line{display:block;position:absolute;background-color:#000;height:2px;width:100%;z-index:10}
.btn_menu .ico_menu .ico_line:first-child{width:15px;top:2px}
.btn_menu .ico_menu .ico_line:nth-child(2){width:29px;top:50%}
.btn_menu .ico_menu .ico_line:last-child{width:14px;right:0;bottom:1px}
.inner_nav.on .btn_menu .ico_menu .ico_line{background-color:#fff}
.cont_intro .event_mouse .arrow_1,.arrow_2,.arrow_3{-webkit-animation:mouse-scroll 1s infinite alternate;-webkit-animation:mouse-scroll 1s infinite alternate}
.btn_menu .ico_menu .ico_line:first-child{-webkit-animation : Menubar01 .75s forwards;animation:Menubar01 .75s forwards}
@-webkit-keyframes Menubar01 {
	0% {
		width:28px;-webkit-transform : translateY(10px) rotate(45deg);
	}
	50% {
		-webkit-transform : translateY(9px) rotate(0)
	}
	100% {
	-webkit-transform : translateY(0) rotate(0);
	}
}
@keyframes Menubar01 {
	0% {
		width:28px;transform : translateY(10px) rotate(45deg);
	}
	50% {
		transform : translateY(9px) rotate(0)
	}
	100% {
	transform : translateY(0) rotate(0);
	}
}
.btn_menu .ico_menu .ico_line:nth-child(2){opacity:1}
.btn_menu .ico_menu .ico_line:last-child{-webkit-animation : Menubar02 .75s forwards;animation : Menubar02 .75s forwards}
@-webkit-keyframes Menubar02 {
	0% {
		width:28px;-webkit-transform : translateY(-7px) rotate(-45deg)
	}
	50% {
		-webkit-transform : translateY(-8px) rotate(0);
	}
	100% {
	-webkit-transform : translateY(0) rotate(0);
	}
}
@keyframes Menubar02 {
	0% {
		width:28px;transform : translateY(-7px) rotate(-45deg)
	}
	50% {
		transform : translateY(-8px) rotate(0);
	}
	100% {
		transform : translateY(0) rotate(0);
	}
}
.btn_menu.active .ico_menu .ico_line:first-child {
	-webkit-animation : activeMenubar01 .75s forwards;
	animation : activeMenubar01 .75s forwards;
}
@-webkit-keyframes activeMenubar01 {
	0% {
		-webkit-transform : translateY(0) rotate(0);
	}
	50% {
		-webkit-transform : translateY(9px) rotate(0)
	}
	100% {
		width:28px;-webkit-transform : translateY(10px) rotate(45deg);
	}
}
@keyframes activeMenubar01 {
	0% {
		transform : translateY(0) rotate(0);
	}
	50% {
		transform : translateY(9px) rotate(0)
	}
	100% {
		width:28px;
		transform : translateY(10px) rotate(45deg)
	}
}
.btn_menu.active .ico_menu .ico_line:nth-child(2){opacity:0}
.btn_menu.active .ico_menu .ico_line:last-child{-webkit-animation : activeMenubar02 .75s forwards;animation : activeMenubar02 .75s forwards}
@-webkit-keyframes activeMenubar02 {
	0% {
		-webkit-transform : translateY(0) rotate(0);
	}
	50% {
		-webkit-transform : translateY(-8px) rotate(0);
	}
	100% {
		width:28px;
		-webkit-transform : translateY(-7px) rotate(-45deg)
	}
}
@keyframes activeMenubar02 {
	0% {
		transform : translateY(0) rotate(0);
	}
	50% {
		transform : translateY(-8px) rotate(0);
	}
	100% {
		width:28px;
		transform : translateY(-7px) rotate(-45deg)
	}
}
.nav_main .navi_list{display:none;position:absolute;top:50%;width:100%;margin-top:-115px;text-align:center}
.nav_main .list_navi .link_navi{position:relative;display:block;width:100%;padding:11px 0;color:#fff;font-weight:bold;font-size:14px;text-align:center}
.nav_main .list_navi .link_navi:hover{text-decoration:none}
.nav_main .list_navi .link_navi.active:after{position:absolute;top:50%;left:-2px;z-index:10;width:5px;height:18px;margin-top:-9px;background:#ffd200;content:''}
.list_sns .link_sns{display:block;padding:15px 0}
.list_sns .img_everyr{margin:0 auto}
.list_sns .ico_facebook{width:11px;height:18px;background-position:0 -59px}
.list_sns .ico_kakao{width:19px;height:17px;background-position:-15px -59px}
.list_sns .ico_insta{width:19px;height:19px;background-position:-38px -59px}
.list_sns .ico_youtube{width:20px;height:14px;margin-top:2px;background-position:-60px -59px}
.list_sns .ico_blog{width:19px;height:18px;background-position:-84px -59px}
.nav_main .inner_nav .menu_nav{position:fixed;top:0;right:0;width:92px;height:100%}
.nav_main .inner_nav .cont_nav{display:block;bottom:0;left:100%;width:100%;background:rgba(36,32,70,0.95)}
.cont_menu .list_sns{display:none;position:absolute;bottom:41px;width:100%}
.cont_menu .list_sns .link_sns{width:100%}
.cont_nav .nav_left{position:absolute;top:0;right:0;bottom:0;width:231px;border-left:1px solid #918fa1}
.cont_nav .nav_left .list_menu{padding-top:131px;padding-right:26px;text-align:right}
.nav_left .list_menu .link_menu{display:block;position:relative;padding:9px 10px 15px 40px;font-size:18px;color:#fff;cursor:pointer}
.nav_left .list_menu .link_menu:hover{text-decoration:none}
.nav_left .list_menu .link_menu.on:before,.nav_left .list_menu .link_menu:hover:before{position:absolute;top:50%;left:-3px;margin-top:-9px;width:5px;height:18px;background:#ffd200;content:''}
.nav_left .link_menu .ico_blank{display:inline-block;width:13px;height:13px;margin:11px 0 0 9px;vertical-align:top;background-position:-93px -42px}
.nav_left .list_menu .link_sub{padding-bottom:17px}
.nav_left .list_menu .link_sub.open{padding-bottom:6px}
.list_menu .sub_menu{display:none;position:relative}
.list_menu .sub_menu .link_menu{padding:3px 10px 2px 40px;color:#999;font-weight:normal;font-size:14px}
.list_menu .sub_menu .link_menu:hover{color:#fff}
.list_menu .sub_menu .on .link_menu{color:#fff}
.cont_nav .list_sns{overflow:hidden;float:right;padding-top:33px;padding-right:26px}
.cont_nav .list_sns li{float:left}
.cont_nav .list_sns .link_sns{padding:15px}

.nav_left .info_company{position:absolute;bottom:32px;left:40px}
.info_company .txt_company{font-weight:bold;color:#fff;font-size:14px}
.info_company .btn_company{width:240px;height:60px;margin-top:13px;font-size:16px;color:#fff;font-weight:bold;background:#3645cd}
.info_company .btn_company .img_everyr{display:inline-block;width:20px;height:20px;margin-left:37px;vertical-align:top;background-position:-110px -42px}
.wrap_main .btn_menu .ico_menu .ico_line{background-color:#fff}
.wrap_main .nav_main .menu_nav:after{position:absolute;top:0;left:0;bottom:0;width:1px;background:#fff;opacity:.4;filter:alpha(opacity=40);content:''}
.wrap_main .nav_main .inner_nav.on .menu_nav:after{display:none}
.wrap_main .nav_main .navi_list,.wrap_main .cont_menu .list_sns{display:block}
.nav_main_type .menu_nav:after{-webkit-animation:activeNav 0.5s forwards;animation:activeNav 0.5s forwards}
@-webkit-keyframes activeNav{
    0% {bottom:0}
    100% {bottom:87px}
}

@keyframes activeNav{
    0% {bottom:0}
    100% {bottom:87px}
}
.nav_main_type .cont_menu .list_sns{-webkit-animation:activeSns 1s forwards;animation:activeSns 1s forwards}
@-webkit-keyframes activeSns{
    0% {bottom:41px}
    100% {bottom:128px}
}

@keyframes activeSns{
    0% {bottom:41px}
    100% {bottom:128px}
}

/* Footer */
#footer{width:100%;margin-top:120px;padding:27px 0 17px;border-top:1px solid #e9e9e9;text-align:center}
#footer .inner_footer{overflow:hidden}
.inner_footer .info_service{float:left;padding-left:40px}
.inner_footer .info_service .tit_logo{float:left;width:94px;height:13px;margin-top:5px;padding:0;background-position:0 -133px}
.inner_footer .info_service .link_policy{float:left;padding-left:25px;color:#666;font-weight:bold;font-size:14px}
.inner_footer .info_address{clear:both;padding-top:4px}
.inner_footer .info_address .txt_contact{color:#666;font-size:11px}
.inner_footer .info_address .txt_contact:before{display:inline-block;width:1px;height:10px;margin:6px 6px 0;background-color:#8f8f8f;vertical-align:top;content:''}
.inner_footer .info_address .txt_contact:first-child:before{content:none}
.inner_footer .info_support{float:right;padding-right:40px;text-align:right}
.inner_footer .info_support .txt_contact{display:block;color:#444;font-weight:bold;font-size:16px;line-height:25px}
.inner_footer .info_support .txt_contact .txt_phone{padding-left:6px;font-size:19px}
.inner_footer .info_support .txt_contact:hover{text-decoration:none}
.inner_footer .info_support .txt_cstime{display:block;padding-top:1px;color:#444;font-size:11px}
.wrap_main #footer{position:absolute;bottom:0;min-width:1200px;border-color:rgba(255, 255, 255, 0.6);background:rgba(0,0,0,.1)}
.wrap_main .inner_footer .tit_logo{height:14px;background-position:-98px -133px}
.wrap_main .inner_footer .link_policy{color:#fff}
.wrap_main .inner_footer .txt_contact{color:#fff}
.wrap_main .inner_footer .txt_contact:before{background-color:#fff}
.wrap_main .inner_footer .txt_cstime{color:#fff}

/* 공통 - font, color */ 
.emph_r{color:#e63737}
.fw_b{font-weight:bold}
.txt_n{color:#999}

.cont_intro{position:relative;width:100%;height:100%}
.cont_intro .tit_intro{position:absolute;top:50%;left:10%;margin-left:40px;color:#fff;font-weight:bold;font-size:40px;letter-spacing:-1px;opacity:0}
.cont_intro .tit_intro:before{position:absolute;top:-46px;left:84px;width:23px;height:31px;background:url(../images/img_everyr.png?20200131) -144px 0 no-repeat;content:''}
.cont_intro .tit_intro:after{position:absolute;bottom:-46px;left:3px;width:23px;height:31px;background:url(../images/img_everyr.png?20200131) -144px 0 no-repeat;content:''}
.cont_intro .tit_intro.show{-webkit-animation: titShow 1s forwards;animation: titShow 1s forwards}
@-webkit-keyframes titShow {
    0% {opacity:0;margin-top:-86px}
    100% {opacity:1;margin-top:-106px}
}
@keyframes titShow {
    0% {opacity:0;margin-top:-86px}
    100% {opacity:1;margin-top:-106px}
}
.cont_intro1{background:url(../images/img_bg1.jpg) 0 0 no-repeat;background-size:cover}
.cont_intro2{background:url(../images/img_bg2.jpg) 0 0 no-repeat;background-size:cover}
.cont_intro3{background:url(../images/img_bg3.jpg) 0 0 no-repeat;background-size:cover}
.cont_intro4{background:url(../images/img_bg4.jpg) 0 0 no-repeat;background-size:cover}
.cont_intro5{background:url(../images/img_bg5.jpg) 0 0 no-repeat;background-size:cover}
.cont_intro4 .tit_intro:before,.cont_intro4 .tit_intro:after,.cont_intro5 .tit_intro:before,.cont_intro5 .tit_intro:after{content:none}
.cont_intro4 .inner_cont{position:absolute;top:50%;left:10%;margin-left:40px;opacity:0}
.cont_intro4 .inner_cont.show{-webkit-animation:innerShow4 1s forwards;animation:innerShow4 1s forwards}
.cont_intro4 .tit_intro{position:relative;top:auto;left:auto;margin-left:0;opacity:1}
.cont_intro4 .desc_intro{position:relative;padding-top:40px;color:#fff;font-size:20px;letter-spacing:-1px;line-height:33px}
.cont_intro4 .link_rpay{display:block;width:253px;height:42px;margin-top:64px;padding-top:18px;font-weight:bold;color:#fff;font-size:16px;text-align:center;background:#3645cd}
.cont_intro4 .link_rpay .ico_rpay{display:inline-block;width:55px;height:18px;margin:4px 3px 0 0;font-size:0;line-height:0;vertical-align:top;background:url(../images/ico_rpay.png) 0 0 no-repeat;text-indent:-999px}
 @-webkit-keyframes innerShow4{
    0% {opacity:0;margin-top:-201px}
    100% {opacity:1;margin-top:-221px}
}
@keyframes innerShow4{
    0% {opacity:0;margin-top:-201px}
    100% {opacity:1;margin-top:-221px}
}
.cont_intro5 .inner_cont{position:absolute;top:50%;right:192px;margin-left:40px;opacity:0}
.cont_intro5 .inner_cont.show{-webkit-animation:innerShow5 1s forwards;animation:innerShow5 1s forwards}
.cont_intro5 .tit_intro{position:relative;top:auto;left:auto;margin-left:0;opacity:1}
.cont_intro5 .txt_tit{display:block;overflow:hidden;padding-top:13px}
.cont_intro5 .logo_already{display:block;width:159px;height:45px;margin-top:46px;margin-left:2px;background-position:0 -174px}
 @-webkit-keyframes innerShow5{
    0% {opacity:0;margin-top:-122px}
    100% {opacity:1;margin-top:-142px}
}
@keyframes innerShow5{
    0% {opacity:0;margin-top:-122px}
    100% {opacity:1;margin-top:-142px}
}

.cont_intro .event_mouse{position:absolute;bottom:66px;left:10%;margin-left:40px}
.cont_intro .event_mouse .mouse{display:block;width:18px;height:30px;border-radius:15px;-webkit-transform:none;transform:none;border:2px solid #fff}
.cont_intro .event_mouse .mouse .wheel{display:block;position:relative;width:2px;height:10px;margin:5px auto;background:#fff;-webkit-animation-name:mouse-wheel;animation-name:mouse-wheel;-webkit-animation-duration:1.2s;animation-duration:1.2s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.cont_intro .event_mouse .arrow span{display:block;width:6px;height:6px;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);border-right:2px solid #fff;border-bottom:2px solid #fff;margin:0 0 0px 7px}
.cont_intro .event_mouse .arrow .arrow_1{margin-top:5px}
.cont_intro .event_mouse .arrow_1,.arrow_2,.arrow_3{-webkit-animation-name:mouse-scroll;animation-name:mouse-scroll;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate}
.cont_intro .event_mouse .arrow_1{-webkit-animation-delay:0.1s;-moz-animation-delay:0.1s;animation-delay:0.1s}
.cont_intro .event_mouse .arrow_2{-webkit-animation-delay:0.2s;-moz-animation-delay:0.2s;animation-delay:0.2s}
.cont_intro .event_mouse .arrow_3{-webkit-animation-delay:0.3s;-moz-animation-delay:0.3s;animation-delay:0.3s}
@-webkit-keyframes mouse-wheel {
    0% {opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0); transform:translateY(0)}
    100% {opacity:0;-webkit-transform: translateY(6px);-ms-transform: translateY(6px);transform: translateY(6px)}
}
@-moz-keyframes mouse-wheel {
    0% {top: 1px}
    50% {top:2px}
    100% {top:3px}
}
@keyframes mouse-wheel {
    0% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    100% {opacity: 0;-webkit-transform: translateY(6px);-ms-transform: translateY(6px);transform: translateY(6px)}
}
@-webkit-keyframes mouse-scroll {
    0% {opacity: 0}
    50% {opacity: .5}
    100% {opacity:1}
}
@-moz-keyframes mouse-scroll {
    0% {opacity: 0}
    50% {opacity: .5}
    100% {opacity:1}
}
@-o-keyframes mouse-scroll {
    0% {opacity: 0}
    50% {opacity: .5}
    100% {opacity:1}
}
@keyframes mouse-scroll {
    0% {opacity:0}
    50% {opacity:.5}
    100% {opacity:1}
}
/* 서브페이지 */
.tit_logo .logo_everyr{width:121px;height:17px;background-position:0 -112px}
.cont_sub{width:1070px;min-height:100%;margin:0 auto;padding-top:100px;padding-left:10px}
.cont_sub .tit_sub{position:relative;color:#000;font-weight:bold;font-size:22px}
.cont_sub .tit_sub:after{position:absolute;bottom:-12px;left:0;width:30px;height:1px;background:#000;content:''}
.cont_sub .list_tab{overflow:hidden;padding-top:23px}
.cont_sub .list_tab li{float:left}
.cont_sub .list_tab .link_tab{position:relative;margin-right:48px;color:#999;font-size:20px;color:#999}
.cont_sub .list_tab .link_tab:hover{text-decoration:none}
.cont_sub .list_tab .on .link_tab{color:#333}
.cont_sub .list_tab .on .link_tab:after{position:absolute;top:6px;left:50%;z-index:-1;width:15px;height:19px;margin-left:-6px;background:url(../images/img_everyr.png?20200131) -125px 0 no-repeat;content:''}
.main_detail{padding-top:52px}
.main_detail .tit_detail{font-weight:normal;font-size:34px;line-height:53px}
.main_detail .desc_detail{padding-top:20px;font-size:16px;line-height:25px}
.main_detail .temp_detail{display:block;padding-top:14px}
.main_detail .list_detail{overflow:hidden;padding-top:50px}
.main_detail .list_detail li{float:left}
.main_detail .list_detail .link_detail{display:block;height:34px;padding:5px 27px 0;color:#999;font-size:18px;text-align:center;border:1px solid #fff}
.main_detail .list_detail .link_detail:hover{text-decoration:none}
.main_detail .list_detail .on .link_detail{border:1px solid #bababa;border-radius:28px;color:#333}
.main_detail .wrap_event{overflow:hidden;width:1080px;margin-top:66px}
.main_detail .wrap_event .no_event{width:100%;margin-top:96px;font-size:20px;text-align:center}
.main_detail .list_event{overflow:hidden}
.list_event li{float:left;width:33.3%;margin-bottom:40px}
.list_event .link_event{display:block;margin-right:20px;text-decoration:none}
.list_event .img_event{display:block;position:relative;width:340px;height:211px}
.list_event .img_event:after{position:absolute;top:0;right:0;bottom:0;left:0;border:1px solid #bababa;content:''}
.list_event .img_event .thumb_img{display:block;width:100%;height:100%}
.list_event .tit_evnet{display:block;padding-top:15px;font-size:18px}
.list_event .list_date{overflow:hidden;padding-top:25px}
.list_event .list_date dd{font-size:16px}
.list_done .img_event{text-align:center}
.list_done .img_event .txt_done{position:absolute;top:50%;left:50%;z-index:10;margin:-14px 0 0 -48px;color:#fff;font-weight:bold;font-size:20px}
.list_done .img_event:after{position:absolute;top:0;left:0;width:100%;height:100%;border:0 none;background:#000;opacity:0.7;filter:alpha(opacity=70);content:''}

.wrap_promo .cont_promo{width:100%;padding-left:0}
.cont_promo .tit_sub, .cont_promo .list_tab{width:1070px;margin:0 auto}
.cont_promo .main_detail{display:none;width:1070px;margin:0 auto}
.cont_promo .main_detail_card{position:relative;width:100%;margin:0 auto}
.cont_promo .main_detail_card:after{position:absolute;z-index:-1;left:0;bottom:-69px;width:100%;height:373px;background:#f8f8f8;content:''}
.cont_promo .main_detail_card .tit_detail{display:block;width:1070px;margin:0 auto}
.cont_promo .main_detail_card .detail_card{overflow:hidden;width:1074px;margin:0 auto;padding-top:49px}
.cont_promo .main_detail_card .temp_card{display:block;float:left}
.cont_promo .main_detail_card .info_card{float:left;padding:52px 0 0 54px}
.info_card .tit_card{font-size:32px}
.info_card .txt_card{display:block;font-size:20px}
.info_card .card_annual{overflow:hidden;padding-top:83px}
.card_annual .emph_annual{display:block;float:left;width:62px;height:22px;padding-top:2px;font-weight:bold;color:#3645cd;text-align:center;border:1px solid #3645cd;border-radius:3px}
.card_annual .list_annual{float:left;padding-left:20px;font-size:16px;font-weight:bold}
.card_annual .list_annual dt,.card_annual .list_annual dd{float:left}
.card_annual .list_annual dd{margin-left:5px}
.card_annual .list_annual .txt_bar{display:inline-block;width:2px;height:12px;margin:7px 11px;background:#e0e0e0;vertical-align:top}
.info_card .info_discount{margin-top:19px;padding:19px 15px 21px;border:1px solid #e0e0e0;border-radius:5px}
.info_discount .tbl_discount{table-layout:fixed;border-collapse:collapse;border-spacing:0;text-align:center}
.tbl_discount th,.tbl_discount td{font-weight:normal;font-size:16px}
.tbl_discount th{border-right:1px solid #e0e0e0}
.tbl_discount .tr_discount th,.tbl_discount .tr_discount td{color:#3645cd;font-weight:bold}
.info_card .emph_card{display:block;margin-top:12px;font-size:14px}
.info_card .link_card{display:block;width:282px;height:42px;padding-top:12px;margin-top:41px;color:#fff;font-size:18px;text-align:center;background:#3645cd}
.info_card .link_card:hover{text-decoration:none}

.cont_brand .list_brand{width:100%;margin-top:66px;border-left:1px solid #ececec;font-size:0;line-height:0;letter-spacing:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.list_brand li{display:inline-block;width:352px;height:352px;margin:0 0 -1px -1px;border:1px solid #ececec}
.list_brand .link_brand{display:block;position:relative;z-index:20;width:352px;height:352px;text-align:center}
.list_brand .link_brand .inner_brand{display:table;position:absolute;z-index:10;width:100%;height:100%}
.list_brand .img_logo{display:table-cell;width:100%;height:100%;vertical-align:middle;background:#fff}
.list_brand .img_logo .thumb_logo{display:block;margin:0 auto}
.list_brand .link_brand .tit_brand{display:block;position:absolute;top:50%;z-index:1;width:100%;margin-top:-12px;color:#fff;font-weight:bold;font-size:22px;line-height:24px}
.list_brand .link_brand .tit_brand:after{position:absolute;z-index:-1;top:0;left:50%;margin-top:-2px;margin-left:-12px;width:23px;height:29px;background:url(../images/img_everyr.png?20200131) -171px 0 no-repeat;content:''}
.list_brand .link_brand .txt_category{display:block;position:absolute;bottom:30px;width:100%;color:#ffd200;font-weight:bold;font-size:18px}
.list_brand .link_brand:hover .inner_brand{display:none}
/* .list_brand .link_brand:hover:before{position:absolute;top:0;left:0;z-index:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);content:''}
 */
#formContact{position:relative;margin-top:49px;padding-top:17px;border-top:2px solid #333;font-size:18px}
.emph_essential{position:absolute;top:-49px;right:3px;color:#fe2222;font-size:14px}
.emph_essential .ico_essential{display:inline-block;margin:3px 2px;vertical-align:top}
.input_comm{position:relative;overflow:hidden;width:100%;padding-top:18px;border-bottom:1px solid #ececec}
.input_comm.on{border-color:#333}
.input_comm.f_l{width:510px}
.input_comm.f_l.type2{margin-left:40px}
.input_comm .lab_g{position:absolute;top:37px;width:130px;padding-left:12px;font-weight:bold}
.input_comm .lab_g:before{position:absolute;top:50%;left:0;width:4px;height:4px;border-radius:10px;background:#333;content:''}
.input_comm .inp_g{display:block;width:100%;padding:20px 0 15px 150px;font-size:18px;border:0 none;box-sizing:border-box;outline:0}
.input_comm .emph_essential{top:2px;right:auto;margin-left:3px}
.input_comm.wrong{border-color:#fe2222}
.input_comm.wrong .inp_g::placeholder{color:#fe2222}
.input_comm.wrong :-ms-input-placeholder{color:#fe2222}

.input_field{padding-top:38px;border:0 none}
.input_field .lab_g{position:relative;top:0}
.input_field .inner_field{position:relative;margin-top:15px}
.input_field .inner_field .tf_request{width:1002px;height:215px;padding:26px 28px;border:1px solid #ececec;font-size:18px;outline:0;resize:none}
.input_field .inner_field.wrong .tf_request{border-color:#fe2222}
.input_field .inner_field.wrong .tf_request::placeholder{color:#fe2222}
.input_field .inner_field.wrong .tf_request:-ms-input-placeholder{color:#fe2222}
.input_field .inner_field .txt_num{position:absolute;right:18px;bottom:7px;font-weight:bold;font-size:12px;color:#999}
.input_field .inner_field .emph_now{font-weight:bold;color:#3645cd} 
.input_attach{padding-top:37px;border:0}
.input_attach .lab_g{display:block;position:relative;top:0;margin-bottom:16px}
.input_attach .inp_file{position:absolute;left:0;top:0;z-index:-1;width:100%;height:100%;text-indent:-9999px;opacity:.01;filter:alpha(opacity=1)}
.input_attach .file_attach{float:left;width:867px;height:52px;padding-left:20px;color:#999;font-size:18px;border:1px solid #ececec;background:#f6f6f6}
.input_attach .btn_attach{display:block;float:left;width:161px;height:40px;margin-left:8px;padding-top:12px;font-size:18px;border:1px solid #333;text-align:center;cursor:pointer}
.input_personal{padding-top:57px;border:0}
.input_personal .lab_g{display:block;position:relative;top:0;width:100%;margin-bottom:15px}
.input_personal .desc_personal{padding:24px 30px 23px;border:1px solid #ececec;font-size:14px;line-height:29px}
.input_personal .desc_personal .em_personal{display:block;font-size:18px;padding-bottom:4px}
.check_comm{display:inline-block;position:relative;width:100%;height:20px;margin-top:38px;line-height:20px;vertical-align:top}
.check_comm .inner_check{position:relative;width:175px;margin:0 auto}
.check_comm .inp_check{position:absolute;left:0;top:0;z-index:-1;width:20px;height:20px;border:0 none;opacity:.01;filter: alpha(opacity=1)}
.check_comm .lab_check{display:block;padding-left:27px;font-size:16px;line-height:18px;cursor:pointer}
.check_comm .lab_check .ico_check{position:absolute;left:0;top:1px;width:19px;height:19px;background-position:0 -152px}
.check_comm.check_on .ico_check{background-position:-23px -152px}
.input_personal .txt_wrong{display:none;width:100%;margin-top:12px;color:#fe2222;font-size:16px;text-align:center}
.input_personal .btn_submit{display:block;width:282px;height:54px;margin:63px auto 0;color:#fff;font-size:18px;text-align:center;background:#3645cd}

/* 레이어팝업 */
.dimmed_layer{display:none;position:fixed;left:0;top:0;z-index:9997;width:100%;height:100%;background-color:#fff;opacity:0.5;filter:alpha(opacity=50)}
.everyr_layer{display:none;position:fixed;top:50%;left:50%;z-index:10000;width:664px;height:598px;margin:-298px 0 0 -332px;border:1px solid #ccc;border-top:2px solid #ffd40d;background-color:#fff;box-shadow:3px 1px 6px rgba(0,0,0,.06)}
.everyr_layer .inner_everyr_layer{position:relative}
.everyr_layer .inner_everyr_layer .layer_head{position:relative;padding:50px 58px 44px;font-size:28px}
.everyr_layer .inner_everyr_layer .layer_body{height:463px}
.everyr_layer .inner_everyr_layer .btn_close{position:absolute;right:38px;top:38px;width:24px;height:24px;background-position:-134px -35px}
.everyr_layer .inner_everyr_layer .btn_close .img_everyr{width:22px;height:22px;background-position:-134px -35px}

/* 레이어팝업 - 이용약관 */
.everyr_layer .inner_everyr_policy .layer_body{position:relative;overflow-y:auto;padding:0 25px 0 59px}
.everyr_layer .inner_everyr_policy .layer_body:before{position:absolute;top:0;left:57px;width:22px;height:4px;background:#000;content:''}
.everyr_layer .inner_everyr_policy .area_policy{padding-top:30px;font-size:16px}
.everyr_layer .inner_everyr_policy .ico_policy{display:block;width:24px;height:34px;margin-bottom:16px;background-position:0 -70px}
.everyr_layer .inner_everyr_policy .area_policy p{padding-top:3px}
.everyr_layer .inner_everyr_policy .area_policy:last-child{padding-bottom:30px}
.everyr_layer .inner_everyr_policy .table_policy{table-layout:fixed;width:100%;margin-top:15px;border-collapse:collapse;border-spacing:0}
.everyr_layer .inner_everyr_policy .table_policy th{padding:10px 0;text-align:center;background-color:#f3f3f3;border:1px solid #dfdfdf;border-bottom:0 none;font-weight:bold;font-size:15px}
.everyr_layer .inner_everyr_policy .table_policy td{padding:10px;text-align:center;border:1px solid #dfdfdf;font-size:14px;line-height:16px}



@media only screen and (max-width:1280px){
	.cont_intro .tit_intro{font-size:34px}
	.cont_intro4 .desc_intro{font-size:18px}
	.wrap_main #footer{position:absolute;bottom:0;min-width:auto}
